.yandex-map {
  height: calc(100% - 60px);
}

.footer {
  background: url(../img/bg/footer.jpg) center bottom no-repeat;
  background-size: cover;
  height: 60px;
  position: relative;
  padding-top: 10px;
  &__col {
    float: left;
    width: 50%;
    &_right {
      text-align: right;
      padding-top: 9px;
    }
  }
  &__address {
    color: #ffffff;
    font-size: 14px;
  }
  &__phone {
    font-family: ubuntubold, Arial, sans-serif;
    color: #e35028;
    font-size: 14px;
    text-decoration: none;
  }
}

.socials {
  &_lnk {
    position: relative;
    top: 50%;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }
  &__link {
    display: inline-block;
    max-width: 23px;
    max-height: 20px;
    opacity: .3;
    transition: .3s;
    &:hover {
      opacity: 1;
    }
  }
}
