.menu {
  background: url('../img/bg/menu.jpg') 50% no-repeat;
  background-size: cover;
  position: relative;
  &__title {
    position: absolute;
    top: 10%;
    left: 10%;
  }
  &-acco {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    &::before, &::after {
      content: "";
      display: table;
    }
    &::after {
      clear: both;
    }
    &__item {
      float: left;
      height: 100%;
    }
    &__item.active &__trigger-text {
      color: #f9b43b;
    }
    &__trigger {
      display: block;
      float: left;
      width: 80px;
      height: 100%;
      background: no-repeat center;
      background-size: cover;
      text-decoration: none;
      position: relative;
      &-text {
        width: 650px;
        height: 80px;
        font-family: gagalinregular, Arial, sans-serif;
        color: #fff;
        font-size: 40px;
        transform: rotate(-90deg);
        text-align: center;
        white-space: nowrap;
        position: absolute;
        top: 50%;
        left: -275px;
        margin-top: -40px;
      }
    }
    &__content {
      background: rgba(47, 50, 52, 0.93);
      width: 0;
      height: 100%;
      float: left;
      overflow: hidden;
    }
    &__text {
      width: 550px;
      font-family: ubuntulight, Arial, sans-serif;
      font-size: 14px;
      line-height: 1.8;
      color: #fff;
      padding: 60px 30px;
    }
  }
}
